/* 2023 */

:root {
    --highlight-color: rgb(109, 175, 199);
    --highlight-color-2: #f77062;
    --darker-color: #141414;
    --lightest-color: #fff;
    --lighter-color: rgb(230, 240, 241);
    --inner-height: 100%; /* need for fixing viewport problems */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
} 

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}

body {
    position: relative;
}

/* @media screen and (max-width: 600px) {
    body, html {
        animation: open-body 0s linear 3.5s 1 forwards;

    }

    @keyframes open-body {
        to {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
} */


/* Introduction */

.introduction {
    height: 100vh;
    height: var(--inner-height);
    width: 100vw;
    background-color: var(--lightest-color);
    display: grid;
    place-items: center;
    position: fixed;
    animation: close-intro 0.5s ease 3s 1 forwards;
    overflow: hidden;
    z-index: 999;
}

.spin-wrapper {
    box-sizing: content-box;
    height: 50px;
    font-size: 45px;
    font-weight: 500;
    /* border: 1px solid green; */
    overflow: hidden;
    text-align: center;
}

.spin-wrapper span {
    display: block;
    margin-bottom: 5px;
    height: 100%;
    height: var(--inner-height);
    /* border: 1px solid red; */
    animation: spin-words 2s ease 0.2s 1 forwards;
}

@keyframes spin-words {
    25%{
        transform: translateY(-55px);
    }
    50%{
        transform: translateY(-110px);
    }
    75%{
        transform: translateY(-165px);
    }
    100%{
        transform: translateY(-220px);
    }
}

@keyframes close-intro {
    to {
        transform: translateY(-100%);
    }
}

@keyframes close-intro {
    to {
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 350px) {
    .spin-wrapper span {
        font-size: 20px;
        height: 20px;
        margin-bottom: 35px;
    }
}


/* About */
#about {
    overflow: hidden;
    height: 100vh;
    height: var(--inner-height);
    width: 100%;
    -ms-overflow-style: none;
}

#about-hero {
    padding: 0 15%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#about-img {
    z-index: 9;
    position: relative;
    top: 10%;
    margin-right: -5%;
    height: 90%;
    float: right;
    shape-outside: url(/assets/graduation_3.png);
}

#about-name {
    width: 100%;
    overflow: hidden;
    font-size: 150px;
    position: absolute;
    bottom: 0;
    color: var(--darker-color);
    line-height: 0.8;
    text-align: center;
    /* background-color: #e73c7e; */
}

.about-name h1 {
    position: relative;
    top: 150px;
    opacity: 0;
    animation: open-name 0.3s ease-out 3.1s 1 forwards;
}

@keyframes open-name {
    to {
        top: 0;
        opacity: 1;
    }
}

.about-name-mobile {
    display: none;
}

#about-name-container {
    height: 40%;
    position: relative;
    margin: 0 -1%;
    width: 100%;
}

#about-summary {
    padding-top: 6px;
    max-height: 45%;
}

#about-summary h2 {
    font-size: 24px;
    font-weight: normal;
}

#about-summary p {
    margin-top: 24px;
}


.about-social-icons--link i {
    vertical-align: middle;
    width: 1.5em;
}

.about-social-icons--link p {
    vertical-align: middle;
    display: inline-block;
    line-height: 100% !important;
    padding: 0 0.3em;
    margin: 0 !important;
}

.about-social-icons--link {
    background-color: var(--darker-color);
    transition: 0.1s ease-in;
    text-decoration: none;
    padding-top: 0.2em;
    height: 1.5em;
    font-weight: bolder;
    color: var(--lightest-color);
    text-align: center;
    border-radius: 3px;
}

.about-social-icons--link:hover {
    background-color: var(--highlight-color);
}

.about-social {
    margin-top: 0.3em;
    display: flex;
    column-gap: 1ch;
}

@media screen and (max-aspect-ratio: 29/20) {
    #about-img {
        z-index: 9;
        position: relative;
        top: 10%;
        margin-right: -30%;
        height: 90%;
        float: right;
        shape-outside: url(/assets/graduation_3.png);
    }
}

@media screen and (max-aspect-ratio: 46/39) {
    #about-img {
        position: absolute;
        top: initial;
        bottom: 40%;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        max-height: 50%;
        max-width: 70%;
        float: none;
        shape-outside: none;
    }

    #about-name-container {
        height: 60%;
    }

    #about-name {
        display: none;
    }

    .about-name-mobile {
        display: block;
        width: 100%;
        overflow: hidden;
        font-size: 150px;
        color: var(--darker-color);
        line-height: 0.8;
        text-align: center;
        position: relative;
        top: 50%;
    }

    #about-summary p {
        margin-top: 12px;
    }

    #about-hero {
        overflow: hidden;
    }

    #about-summary {
        height: 35%;
    }
}


#timeline {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(40vh, 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    gap: 30px 30px;
    padding: 50px;
}

.timeline-card {
    --card-transition: 0.5s;
    background: var(--lightest-color);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    z-index: 1;
    position: relative;
}

.timeline-image {
    inline-size: 100%;
    object-fit: cover;
    height: 100%;
    transition: var(--card-transition);
}

.timeline-text {
    position: absolute;
    top: 50%;
    bottom: 0;
    overflow-y: hidden;
    word-break: break-word;
    padding: 20px;
    color: var(--lightest-color);
    opacity: 0;
    transition: var(--card-transition);
    height: 100%;
}

.timeline-card:hover .timeline-text {
    opacity: 1;
    top: 0;
}

.timeline-card:hover .timeline-image {
    transform: scale(1.07);
    filter: blur(5px);
}

.timeline-card:hover .timeline-bg {
    opacity: 1;
}

.timeline-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: var(--card-transition);
    will-change: opacity;
}

.timeline-button {
    transition: 0.1s;
    transition-delay: 0s;
    margin-top: 10px;
    padding: 7px 14px;
	background: var(--highlight-color);
	border: 0;
	outline: none;
	text-align: center;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.timeline-button span {
    display: inline;
    font-size: inherit;
    vertical-align: middle;
    margin: 0 -0.2em;
}

.timeline-button p {
    display: inline;
}

@media screen and (max-aspect-ratio: 46/39) {
    #timeline {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 80vw;
        grid-auto-rows: 80vw;
        grid-template-columns: auto;
        padding: 10%;
    }
}



/* FOOTER */
/* .footer {
    height: minmax(80px, 20vh);
    width: 100%;
    background-color: var(--darker-color);
} */



/************ SCROLLING **********/
body {
    scroll-snap-type: y proximity;
}

.scroll-snappable {
    scroll-snap-align: start;
}

@media screen and (max-aspect-ratio: 46/39) {
    body {
        scroll-snap-type: none;
    }
    
    .scroll-snappable {
        scroll-snap-align: none;
    }
}



.bottom-text {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
    font-size: smaller;
}

@media screen and (max-width: 350px) {
    .bottom-text {
        font-size: 0.5em;
    }
}


button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--darker-color);
}



/* For really fucked up screen dimensions */
/* @media screen and (max-height: 680px) {
    h1 {
        font-size: 1em !important;
    }

    h2 {
        font-size: 0.8em !important;
    }

    h3 {
        font-size: 0.8em !important;
    }

    h4 {
        font-size: 0.7em !important;
    }

    p {
        font-size: 0.5em !important;
    }

    button {
        font-size: 0.6em !important;
    }
}

 */