/* About */
#about {
    overflow: hidden;
    height: 100vh;
    height: var(--inner-height);
    width: 100%;
    -ms-overflow-style: none;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px; */
}

#about-hero {
    padding: 0 15%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#about-gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#about-gradient-bg .blob {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: blur(200px);
    mix-blend-mode: screen;
    animation: drift 14s ease-in-out infinite;
}

#about-gradient-bg .blob.bottom-right {
    background: #0b51b3;
    top: 20%;
    left: 30%;
    animation-delay: 0s;
}

#about-gradient-bg .blob.bottom-left {
    background: rgba(255,177,131);
    top: 10%;
    left: 0%;
    animation-delay: -10s;
}

#about-gradient-bg .blob.top-left {
    background: #5C8BCF;
    top: -10%;
    left: -20%;
    animation-delay: -5s;
}

/* 4. Gentle keyframe drift */
@keyframes drift {
    0%, 100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    25% {
        transform: translate(40px, -60px) scale(1.1);
        opacity: 0.8;
    }

    50% {
        transform: translate(-30px, 40px) scale(0.9);
        opacity: 0.6;
    }

    75% {
        transform: translate(20px, 20px) scale(1.05);
        opacity: 0.9;
    }
}

#about-img {
    z-index: 9;
    position: relative;
    top: 10%;
    margin-right: -5%;
    height: 90%;
    float: right;
    shape-outside: url(/graduation_3.png);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#about-name {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--darker-color);
    line-height: 0.8;
}

.about-name-text {
    user-select: none;
    line-height: 0.8;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-weight: 800;
    white-space: nowrap;
    width: max-content;
}

#about-name-container {
    height: 40%;
    position: relative;
    margin: 0 -1%;
    width: 100%;
}

#about-summary {
    padding-top: 24px;
    max-height: 45%;
}

#about-summary h2 {
    font-size: 24px;
    font-weight: normal;
}

#about-summary p {
    margin-top: 24px;
}


.about-social-icons--link svg {
    width: 2em;
}

.about-social-icons--link {
    background-color: var(--darker-color);
    transition: 0.1s ease-in;
    text-decoration: none;
    height: 2em;
    font-weight: bolder;
    color: var(--lightest-color);
    text-align: center;
    border-radius: 5px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-social-icons--link:hover {
    background-color: var(--highlight-color);
}

.about-social-icons-text {
    padding-left: 0.6em;
}

.about-social-icons-text h4 {
    font-size: large;
}

.about-social {
    margin-top: 0.7em;
    display: flex;
    column-gap: 1ch;
}

@media screen and (max-aspect-ratio: 29/20) {
    #about-img {
        z-index: 9;
        position: relative;
        top: 10%;
        margin-right: -30%;
        height: 90%;
        float: right;
        shape-outside: url(/graduation_3.png);
    }
}

@media screen and (max-aspect-ratio: 46/39) {
    #about-img {
        position: absolute !important;
        top: auto !important;
        bottom: 40% !important;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        max-height: 50%;
        max-width: 70%;
        margin: 0;
        float: none;
        shape-outside: none;
    }

    #about-name {
        bottom: clamp(0px, calc((100vh - 100vw) / 5), 30vw);
    }

    #about-name-container {
        height: 60%;
    }

    #about-hero {
        overflow: hidden;
    }

    #about-summary {
        height: 35%;
    }
}

@media screen and (max-width: 500px) {
    .about-social-icons--link {
        font-size: x-large;
    }

    #about-gradient-bg .blob.bottom-right {
        animation-delay: 0s;
        animation: drift 9s ease-in-out infinite;
    }
    
    #about-gradient-bg .blob.bottom-left {
        animation-delay: 0s;
        animation: drift 11s ease-in-out infinite;
    }
    
    #about-gradient-bg .blob.top-left {
        animation-delay: 0s;
        animation: drift 14s ease-in-out infinite;
    }
}